html
  head
    title 1523 Atrisco Drive SW, Albuquerque NM, 87105
    link(href="//fonts.googleapis.com/css?family=Kreon|Bitter|Vollkorn", rel="stylesheet", type="text/css")
    link(href="/styles.css", rel="stylesheet", type="text/css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    section

      hgroup
        h2 House for Sale by Owner
        h1 1532 Atrisco Drive SW


      h3 About the House

      :markdown
        This is a beautiful three-bedroom house tucked away on 2.1 acres of property
        in Albuquerque's South Valley. It has one master bedroom, two small
        bedrooms, and one bathroom with a beautiful antique clawfoot tub. The house
        has hardwood floors throughout, with rustic Saltillo tile in the kitchen and
        ceramic tile flooring in the bathroom.

        The house itself is 1250ft², and there's a 330ft² detached laundry room and workshop, and another detached 220ft² building for use as a toolshed or workspace. The laundry room includes washer and dryer.

        The living room has a working fireplace.

      h3 About the Property

      :markdown
        With an enclosed 2.1-acre lot, this property is perfect for a family with pets. During the time that I lived here, it was home to donkeys, goats, pigs, dogs, cats, chickens, and geese.

        There are several large cottonwood, elm, and mulberry trees on the property.

        The house itself has city water, but there's also a functioning well with a newly-installed pump for outdoor use such as gardening.


        - city water, sewer, trash, and recycling
        - front yard enclosed by adobe wall with protection from the street
        - off-street parking
        - quiet
        - 4 miles from downtown
        - 5 miles from UNM
        - nearby bus stop

        If you're interested in viewing the house, please send me a text message or email.

        Zeke Sikelianos
        (505) 459-2942
        [zeke@sikelianos.com](mailto:zeke@sikelianos.com)

      #images
        - each image in public._data
          a.img(href=image.url title=image.title)
            img(src=image.urls.medium640 alt=image.title)
