body
  font-family 'Bitter', 'Kreon', 'Vollkorn', serif
  background rgba(120, 121, 95, 0.25)
  color #553a2a
  margin 0
  padding 20px
  font-size 18px

section
  position relative
  margin 0 auto
  max-width 600px

h1, h2
  margin 0
  padding 0
  text-align center

h1
  font-size 48px
  line-height 1

h2
  font-size 24px
  line-height 2
  opacity 0.6

p, li
  line-height 1.5



// a.img
//   display block
//   height 800px
//   width 600px
//   background-color red
//   float left
//   overflow hidden
//   margin 20px

img
  border 8px solid white
  margin 20px 0
  box-shadow 0px 3px 20px 0px rgba(50, 50, 50, 0.5)
  // display block
  // width 100%
  // max-width 100%
  // height auto
